<footer transition:persist>
  <p>
    For personal use only. For commercial use please reach out to
    esports@brawlhalla.com
    <br />
    © 2024-2025 Blue Mammoth Games. All Rights Reserved.
  </p>
</footer>

<style>
  footer {
    background-color: var(--page-background);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
  }
</style>
