<footer
  transition:persist
>
  <p>
    © 2023 Blue Mammoth Games. All Rights Reserved.
  </p>
</footer>

<style>
  footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
</style>