<footer transition:persist class="p-5 text-center text-black dark:text-white">
  <p>
    For personal use only. For commercial use please reach out to
    esports@brawlhalla.com.
    <br />
    © 2024-2025 Blue Mammoth Games. All Rights Reserved.
  </p>
</footer>
