<footer
  transition:persist
>
  <p>
    © 2023 Blue Mammoth Games. All Rights Reserved.
  </p>
</footer>

<style>
  footer {
    background-color: var(--page-background);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
  }
</style>