---
import VersionSelect from "./VersionSelect.astro";
import { getCollection } from "astro:content";

const collection = await getCollection("documentation", ({ data }) => {
  return data.version === "v2" && data.content === "request";
});
---

<nav
  id="sidebar"
  class="pt-12 w-0 min-w-0 [&.visible]:min-w-64 [&.visible]:w-1/5 lg:min-w-64! lg:w-1/5 transition ease-in-out delay-1000"
>
  <VersionSelect />
  <ul class="list-none mb-20 pl-8">
    <li id="header" class="mx-6 mt-2 font-bold text-black dark:text-white">
      Getting Started
    </li>
    <li class="mx-2">
      <a
        class="decoration-inherit text-cyan-300 dark:text-amber-400 hover:text-teal-300 hover:dark:text-yellow-300 transition ease-in-out duration-500"
        href="/"
        >Test
      </a>
    </li>
    <li id="header" class="mx-6 mt-2 font-bold text-black dark:text-white">
      Requests
    </li>
    {
      collection.map((page) => (
        <li class="mx-2 mt-1">
          <a
            class="decoration-inherit text-cyan-300 dark:text-amber-400 hover:text-teal-300 hover:dark:text-yellow-300 transition ease-in-out duration-500"
            href={`${page.id.slice(0)}`}
          >
            {page.data.title}
          </a>
        </li>
      ))
    }
    <li class="mx-6 mt-2 font-bold text-black dark:text-white">Datatypes</li>
    <li class="mx-2">
      <a
        class="decoration-inherit text-cyan-300 dark:text-amber-400 hover:text-teal-300 hover:dark:text-yellow-300 transition ease-in-out duration-500"
        href="/"
        >Test
      </a>
    </li>
  </ul>
</nav>
