---
import VersionSelect from "./versionSelect.astro";
import { getCollection } from "astro:content";

const collection = await getCollection("documentation", ({ data }) => {
  return data.version === 'v2' && data.content === 'request'
})
---

<nav id="sidebar">
  <VersionSelect />
  <ul>
    <li class="heading">Getting Started</li>
  </ul>
  <ul>
    <li class="heading">Requests</li>
    <ul>
    {
      collection.map((page) => (
        <li>
          <a href={`${page.id.slice(12)}`}>{page.data.title}</a>
        </li>
      ))
    }
  </ul>
  </ul>
  <ul>
    <li class="heading">Datatypes</li>
  </ul>
</nav>

<style lang="scss">
  #sidebar {
    padding-top: 3rem;
    width: 0;
    min-width: 0;
    transition:
      width 1s ease,
      min-width 1s ease;

    &.visible {
      width: 20%;
      min-width: 16rem;
    }
    @media (min-width: 1024px) {
      width: 20%;
      min-width: 16rem !important;
    }

    ul {
      list-style: none;
      margin-bottom: 5rem;
      padding-left: 2rem;

      li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        a {
          transition: color 0.5s ease;
          color: var(--text-color-link);
          text-decoration: inherit;

          &:hover {
            color: var(--text-color-link-hover);
          }
        }
      }

      .heading {
        font-weight: bold;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
</style>
