<nav id="sidebar">
  <ul>
    <li class="heading">Getting Started</li>
    <li><a href="/">About</a></li>
    <li><a href="/resources/starter-guide">Starter Guide</a></li>
    <li><a href="/resources/errors">Errors</a></li>
    <li><a href="/resources">Resources</a></li>
    <!-- <li><a href="/auth">Authentication</a></li> -->
    <li class="heading">Player</li>
    <li><a href="/get/player/smashId">GetPlayer</a></li>
    <li><a href="/get/player/bhId/brawlhallaId">GetPlayerByBhId</a></li>
    <li><a href="/get/player/teammate">GetPlayerTeammates</a></li>
    <li><a href="/get/player/pr">GetPlayerPr</a></li>
    <!-- <li><a href="/post/player">ListPlayers</a></li> -->
    <li><a href="/get/player/placement">GetPlayerPlacements</a></li>
    <li><a href="/get/player/match">GetPlayerMatches</a></li>
    <li><a href="/get/player/legend">GetPlayerLegends</a></li>
    <li><a href="/get/player/smashId/legend">GetPlayerRecentLegend</a></li>
    <li><a href="/get/player/search">SearchPlayers</a></li>
    <li class="heading">Matchup</li>
    <li><a href="/get/matchup">GetMatchup</a></li>
    <li><a href="/get/matchup/placement">GetMatchupPlacements</a></li>
    <li><a href="/get/matchup/match">GetMatchupMatches</a></li>
    <li class="heading">Event</li>
    <li><a href="/get/event">ListEvents</a></li>
    <li class="heading">Power Rankings</li>
    <li><a href="/get/pr">ListPr</a></li>
    <li class="heading">Datatypes</li>
    <li><a href="/datatypes/player">Player</a></li>
    <li><a href="/datatypes/playermatch">PlayerMatch</a></li>
    <li><a href="/datatypes/playerplacement">PlayerPlacement</a></li>
    <li><a href="/datatypes/playerpr">PlayerPr</a></li>
    <li><a href="/datatypes/playerteammate">PlayerTeammate</a></li>
    <li><a href="/datatypes/tournament">Tournament</a></li>
    <li><a href="/datatypes/legend">Legend</a></li>
    <li><a href="/datatypes/matchup">Matchup</a></li>
    <li><a href="/datatypes/matchupmatch">MatchupMatch</a></li>
    <li><a href="/datatypes/matchupplacement">MatchupPlacement</a></li>
    <li><a href="/datatypes/prplayer">PrPlayer</a></li>
    <li><a href="/datatypes/searchplayer">SearchPlayer</a></li>
  </ul>
</nav>

<style lang="scss">
  #sidebar {
    padding-top: 3rem;
    width: 0;
    min-width: 0;
    transition:
      width 1s ease,
      min-width 1s ease;

    &.visible {
      width: 20%;
      min-width: 16rem;
    }
    @media (min-width: 1024px) {
      width: 20%;
      min-width: 16rem !important;
    }

    ul {
      list-style: none;
      margin-bottom: 5rem;
      padding-left: 2rem;

      li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        a {
          transition: color 0.5s ease;
          color: var(--text-color-link);
          text-decoration: inherit;

          &:hover {
            color: var(--text-color-link-hover);
          }
        }
      }

      .heading {
        font-weight: bold;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
</style>
