---

---

<label
  class="select mx-6 mb-2 w-3/4 bg-slate-600 dark:bg-slate-700 text-black dark:text-white"
  for="version-select"
>
  <select class="select" name="version-select" id="version-select">
    <option disabled selected>Version Select</option>
    <option value="v1">Version 1.0</option>
    <option value="v2">Version 2.0</option>
  </select>
</label>

<script>
  const dropdown = document.getElementById(
    "version-select"
  ) as HTMLSelectElement;
  dropdown?.addEventListener(
    "change",
    (event) => (window.location.href = `/requests/v${event.target ?? 2}/pr`)
  );
</script>
