---

---

<label
  class="mx-10 mb-2 bg-slate-500 dark:bg-slate-800 text-black dark:text-white
          rounded-lg relative inline-flex shrink appearance-none items-center gap-1.5
          ps-3 pe-4 align-middle hover:border-slate-400 dark:hover:border-slate-600
             focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 select-none
             disabled:opacity-60 transition-colors border border-slate-300 dark:border-slate-700"
  for="version-select"
>
  <span class="text-sm text-slate-800 dark:text-slate-400">Version</span>
  <select
    class="rounded-lg cursor-pointer
             text-slate-900 bg-slate-500 dark:bg-slate-800 dark:text-slate-100
             py-2.5 pl-3 pr-2 leading-5 transition-colors"
    name="version-select"
    id="version-select"
  >
    <option value="v1">1.0</option>
    <option value="v2" selected>2.0</option>
  </select>
</label>

<script>
  const dropdown = document.getElementById(
    "version-select"
  ) as HTMLSelectElement;
  dropdown?.addEventListener(
    "change",
    (event) => (window.location.href = `/requests/v${event.target ?? 2}/pr`)
  );
</script>
